!!!
%html
  %head
    %title City'nsider
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCRcbP5XDgjl6ESmSrSDpSNdGwShDgMe8M&sensor=false", type: "text/javascript"}
  %body
    .nav
      .logo-left= link_to 'Citynsider' ,root_path
      .logo-right Find the right tribe
    = yield
  / .container